header {
    text-align: center;
    font-size: 25px;
    color: #E97F7F;
    background: #4A4F55;
    height: 100px;
    top: 50%;
    align-items: center;
}

body{
    background: #3B3E45;
}
nav{
    height: 40px;
    width: 600px;
    margin: auto;
    font-size: larger;
    font-family: "Arial Narrow";

}

section{
    padding: 50px;
    color: #F4F2FA;

}
#enter .form-text:focus {
    background: #ffe;}

#p1{
    background: #88849F;
    margin-bottom: auto;
    display: flex;
    align-items: center;

}
#p1:hover{
    background: #625E77;
    border-top:  solid white;
    border-bottom: 3px solid white;
}


#p2:hover{
    background: #625E77;
    border-top: 3px solid white;
    border-bottom: 3px solid white;
}

#p3:hover{
    background: #625E77;
    border-top: 3px solid white;
    border-bottom: 3px solid white;
}

#p4:hover{
    background: #625E77;
    border-top: 3px solid white;
    border-bottom: 3px solid white;
}

#p5:hover{
    background: #625E77;
    border-top: 3px solid white;
    border-bottom: 3px solid white;
}
#p6:hover{
    background: #625E77;
    border-top: 3px solid white;
    border-bottom: 3px solid white;
}
#p2{
    background: #7A7593;
    display: flex;
    align-items: center
}
#p3{
    background: #88849F;
    display: flex;
    align-items: center
}
#p4{
    background: #7A7593;
    margin-top: auto;
    display: flex;
    align-items: center
}
#p5{
    background: #88849F;
    display: flex;
    align-items: center
}
#p6{
    background: #7A7593;
    display: flex;
    align-items: center
}
#ba{
    text-align: center;
    font-size: 20px;
    color: #E97F7F;
    background: #4A4F55;
    width: 600px;
    margin: auto;

    position: absolute;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%) ;}

[type=checkbox]:checked{
    margin-left: 10px;
    background: green;
    text-decoration: line-through;

}

input[type=checkbox]:checked  + label{
    text-decoration: line-through;
    color: #9C98AD;
}